.ace_editor {
  font-family: 'Fira Code', monospace;
  line-height: 1.75rem;
  font-size: 0.8rem;
  background-color: #fafafa;
  font-weight: 400;
}

.ace_gutter {
  background-color: #fff !important;
  border-right: 1px solid #eee;
  color: #b9bcc5 !important;
}

.ace_gutter-active-line {
  background-color: #5ec4f067 !important;
  color: #3c3d49;
  font-weight: bold;
}

.ace_fold {
  background: #ced4df !important;
  border: none !important;
}

.ace_marker-layer .ace_active-line {
  background: #e4f3ff !important;
}


/* Color Code Theme */
.ace_heading {
  color: #202124 !important;
}

.ace_list {
  color: #000 !important;
  font-style: italic;
}

.ace_meta.ace_tag {
  color: #06960e !important;
}

.ace_comment {
  color: #c4c4c4 !important;
}


/* color to be fixed in the future
___, string, code
 */