.ace_editor {
  font-family: "Jetbrains Mono";
  line-height: 1.5em;
  font-size: 14px;
}

.ace_gutter {
  background: #f0f0f0 !important;
  color: #333 !important;
}

.ace_print-margin {
  width: 1px !important;
  background: #e8e8e8 !important;
}

.ace_fold {
  background-color: #6b72e6 !important;
}

.ace_cursor {
  color: black !important;
}

.ace_invisible {
  color: rgb(191, 191, 191) !important;
}

.ace_storage,
.ace_keyword {
  color: blue !important;
}

.ace_constant {
  color: rgb(197, 6, 11) !important;
}

.ace_constant.ace_buildin {
  color: rgb(88, 72, 246) !important;
}

.ace_constant.ace_language {
  color: rgb(88, 92, 246) !important;
}

.ace_constant.ace_library {
  color: rgb(6, 150, 14) !important;
}

.ace_invalid {
  background-color: rgba(255, 0, 0, 0.1) !important;
  color: red !important;
}

.ace_support.ace_function {
  color: rgb(60, 76, 114) !important;
}

.ace_support.ace_constant {
  color: rgb(6, 150, 14) !important;
}

.ace_support.ace_type,
.ace_support.ace_class {
  color: rgb(109, 121, 222) !important;
}

.ace_keyword.ace_operator {
  color: rgb(104, 118, 135) !important;
}

.ace_string {
  color: rgb(3, 106, 7) !important;
}

.ace_comment {
  color: rgb(76, 136, 107) !important;
}

.ace_comment.ace_doc {
  color: rgb(0, 102, 255) !important;
}

.ace_comment.ace_doc.ace_tag {
  color: rgb(128, 159, 191) !important;
}

.ace_constant.ace_numeric {
  color: rgb(0, 0, 205) !important;
}

.ace_variable {
  color: rgb(49, 132, 149) !important;
}

.ace_xml-pe {
  color: rgb(104, 104, 91) !important;
}

.ace_entity.ace_name.ace_function {
  color: #0000a2 !important;
}

.ace_heading {
  color: rgb(12, 7, 255) !important;
}

.ace_list {
  color: rgb(185, 6, 144) !important;
  font-style: italic;
}

.ace_meta.ace_tag {
  color: rgb(0, 22, 142) !important;
}

.ace_string.ace_regex {
  color: rgb(255, 0, 0);
}

.ace_marker-layer .ace_selection {
  background: rgb(181, 213, 255) !important;
}
.ace-tm.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px white !important;
}
.ace_marker-layer .ace_step {
  background: rgb(252, 255, 0) !important;
}

.ace_marker-layer .ace_stack {
  background: rgb(164, 229, 101) !important;
}

.ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px !important;
  border: 1px solid rgb(192, 192, 192) !important;
}

.ace_marker-layer .ace_active-line {
  background: rgba(0, 0, 0, 0.07) !important;
}

.ace_gutter-active-line {
  background-color: #dcdcdc !important;
}

.ace_marker-layer .ace_selected-word {
  background: rgb(250, 250, 255) !important;
  border: 1px solid rgb(200, 200, 250) !important;
}
